::after,
::before,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}
body {
  $raleway: "ralewaythin", sans-serif;
  font-style: normal;
  margin: 0 auto;
}

@import "../scss/block/navigation";
@import "../scss/block/about";
@import "../scss/block/service";
@import "../scss/block/galery";
@import "../scss/block/contact";
@import "../scss/block/blog";
@import "../scss/block/subscribe";
@import "./libs/font";
@import "../scss/libs/breakpoint";

.img-fluid {
  max-width: 100%;
  height: auto;
}
input:not(.class) {
  background: no-clip;
}
