// ::after,
// ::before,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s;
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
}

@import "../scss/block/navigation";
@import "../scss/block/about";
@import "../scss/block/service";
@import "../scss/block/galery";
@import "../scss/block/forms";
@import "../scss/block/blog";
@import "../scss/block/subscribe";
@import "./libs/font";

$raleway: "ralewaythin", sans-serif;

.img-fluid {
  max-width: 100%;
  height: auto;
}
