$raleway: "ralewaythin", sans-serif;
.about {
  background: radial-gradient(
      75.02% 160.36% at 50% 50%,
      rgba(0, 196, 196, 0.9) 0%,
      rgba(0, 183, 183, 0.9) 32.6%,
      rgba(0, 173, 173, 0.9) 68.02%,
      rgba(0, 156, 156, 0.9) 100%
    ),
    #00c4c4;
  font-family: $raleway;
  margin: 0 auto;

  &__block {
    padding: 0;
  }
  &__icon {
    text-align: left;
    background-size: cover;
    margin-left: -100px;
    @media (max-width: 992px) {
      opacity: 0.2;
      width: 50%;
      // display: none;
    }
    @media (min-width: 576px) and (max-width: 992px) {
      display: block;
      margin: 0 auto;
    }
    @media (max-width: 576px) {
      opacity: 1;
      margin-left: 1%;
    }
  }
  &__text {
    padding: 11%;
    @media (max-width: 576px) {
      padding: 5% 8% 8%;
    }
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 45px;
    color: #ffffff;
    @media (max-width: 576px) {
      font-size: 60px;
      line-height: 60px;
      text-align: center;
    }
  }

  .text {
    &__about {
      width: 85%;
      font-style: normal;
      font-weight: 300;
      font-size: 17px;
      line-height: 27px;
      color: #ffffff;
      padding: 2% 0 0;
      @media (max-width: 576px) {
        width: 100%;
        font-size: 22px;
        line-height: 30px;
        text-align: justify;
      }
    }
  }
}
