$raleway: "ralewaythin", sans-serif;
.blog {
  background: #b07cf7;
  font-family: $raleway;
  font-style: normal;
  margin: 0 auto;

  &__header {
    padding: 2% 0 2%;
  }

  &__title {
    font-weight: bold;
    font-size: 5.63rem;
    line-height: 5rem;
    text-align: center;
    color: #0a0a0a;
    margin: 3%;
  }

  &__text {
    font-weight: 300;
    font-size: 1.06rem;
    line-height: 1.56rem;
    color: #030303;
    text-align: center;
    padding: 0 19% 1%;
  }

  &__body {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }
}
.main {
  &__header {
    width: 15%;
    background: rgba(38, 38, 38, 0.5);
    border-radius: 5px;
    text-align: center;
  }
  &__content {
    height: 90%;
    color: #ffffff;
    margin: 0 2% 0;
    padding: 5%;
    transition: 1s;
  }
  &__content:hover {
    transform: scale(1.1);
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    margin: 0;
  }

  &__text {
    font-weight: 900;
    font-size: 21px;
    line-height: 10px;
    text-transform: uppercase;
  }
  .content1 {
    background: url(../img/thumbnail.png) no-repeat;
  }
  .content2 {
    background: url(../img/thumbnail1.png) no-repeat;
  }
  .content3 {
    background: url(../img/thumbnail2.png) no-repeat;
  }
}
.content {
  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin: 30% 10% 2%;
  }

  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    margin: 0 0 20px 20px;
  }
}
.button {
  &_view {
    width: 15%;
    height: 55px;
    color: rgb(241, 234, 234);
    background: #f72b3b;
    border: none;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 2% 43% 5%;
    transition: 1s;
  }
  &_view:hover {
    background: #832b33;
    transform: scale(1.2);
  }
}
@media (max-width: 768px) {
  .blog__title {
    font-size: 4rem;
    line-height: 3rem;
    margin: 2%;
  }
}
