$raleway: "ralewaythin", sans-serif;
.subscribe {
  &__body {
    width: 1500px;
    height: 500px;
    background: url("img/BG1.png");
    margin: 0 auto;
  }

  //   &__title {
  //   }

  //   &__text {
  //   }

  //   &__input {
  //   }

  //   &__button {
  //   }
}
