$raleway: "ralewaythin", sans-serif;
.subscribe {
  background: url("../img/BG1.png") right center no-repeat;
  background-size: cover;
  font-family: $raleway;
  margin: 0 auto;
  &__body {
    margin: 10% 0 0;
  }
  &__header {
    width: 80%;
  }

  &__title {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.9rem;
    color: #262626;
  }

  &__text {
    font-weight: 300;
    font-size: 1.06rem;
    line-height: 1.6rem;
    color: #262626;
  }
  &__enter {
    display: flex;
    align-items: flex-end;
    margin: 0 0 5%;
  }
  &__enter #email {
    width: 60%;
    height: 55px;
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 3%;
    border: 1px solid #262626;
    margin: 5% 5% 0 0;
  }
  &__enter #email::placeholder {
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
  }
  &__button {
    width: 170px;
    height: 55px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #96b92c;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
  }
  &__button:hover {
    transform: scale(1.1);
    color: salmon;
    background: orangered;
  }
  button,
  input {
    overflow: visible;
  }
  @media (max-width: 998px) {
    .subscribe__header {
      text-align: center;
      width: 63%;
    }
  }
  @media (max-width: 767.98px) {
    .subscribe__body {
      background: rgba(255, 255, 255, 0.7);
      width: 100%;
    }
    .subscribe__enter {
      display: flex;
      align-items: center;
      margin: 0 0 5%;
      flex-direction: column;
    }
    button {
      margin: 2% 0 5%;
    }
    .subscribe__header {
      text-align: center;
      width: 100%;
    }
    .subscribe__text {
      padding: 0 20% 0;
    }
  }
  @media (min-width: 576px) {
    .container,
    .container-sm {
      max-width: none;
    }
  }
}
